In [1]:
import os
import pandas as pd

# File to Load (Remember to Change These)
inputfile = os.path.join("Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(inputfile)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
unique_players_total = purchase_data["SN"].nunique()
total_players = pd.DataFrame({"Total Players": [unique_players_total]})
total_players.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
unique_items = purchase_data["Item Name"].nunique()
avg_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items":[unique_items],
                                    "Average Price": [avg_price],
                                    "Number of Purchases": [number_of_purchases],
                                    "Total Revenue": [total_revenue]})
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)
purchasing_analysis.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
player_gender = purchase_data[["SN","Gender"]]
player_gender = player_gender.drop_duplicates()
count_players = player_gender.shape[0]
gender = player_gender["Gender"].value_counts().to_frame("Total Counts")
gender["Percentage of Players"] = gender["Total Counts"] / count_players
gender["Percentage of Players"] = gender["Percentage of Players"].map("{:.2%}".format)
gender.head()

                       Total Counts Percentage of Players
Male                            484                84.03%
Female                           81                14.06%
Other / Non-Disclosed            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
gender_group = purchase_data.groupby(["Gender"])
gender_group_count = gender_group.count()
gender_purchasing = gender_group_count["Purchase ID"].to_frame("Purchase Count")

gender_purchasing["Average Price"] = purchase_data.groupby("Gender")["Price"].mean()
gender_purchasing["Total Purchase Value"] = purchase_data.groupby("Gender")["Price"].sum()


gender_purchasing["Unique Totals Gender"] = purchase_data.groupby(["Gender"])["SN"].nunique()
gender_purchasing["Average Total Purchase Per Person"] = gender_purchasing["Total Purchase Value"] / gender_purchasing["Unique Totals Gender"]
gender_purchasing = gender_purchasing.drop(columns=["Unique Totals Gender"])

gender_purchasing["Average Price"] = gender_purchasing["Average Price"].map("${:.2f}".format)
gender_purchasing["Total Purchase Value"] = gender_purchasing["Total Purchase Value"].map("${:.2f}".format)
gender_purchasing["Average Total Purchase Per Person"] = gender_purchasing["Average Total Purchase Per Person"].map("${:.2f}".format)

gender_purchasing.head()

,Purchase Count,Average Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
ages_bin = [0, 9, 14, 19, 24, 29, 34, 39, 100]
ages_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], ages_bin, labels=ages_labels)
age_summary = purchase_data.groupby("Age Summary")["SN"].nunique().to_frame("Total Count")
age_summary_total = age_summary["Total Count"].sum()
age_summary["Percentage of Players"] = age_summary["Total Count"] / age_summary_total

age_summary["Percentage of Players"] = age_summary["Percentage of Players"].map("{:.2%}".format)

age_summary.head(10)

             Total Count Percentage of Players
Age Summary
<10                   17                 2.95%
10-14                 22                 3.82%
15-19                107                18.58%
20-24                258                44.79%
25-29                 77                13.37%
30-34                 52                 9.03%
35-39                 31                 5.38%
40+                   12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
ages_bin = [0, 9, 14, 19, 24, 29, 34, 39, 100]
ages_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], ages_bin, labels=ages_labels)
age_group = purchase_data.groupby("Age Ranges")["Purchase ID"]
age_purchasing = age_group.count().to_frame("Purchase Count")
age_purchasing["Average Purchase Price"] = purchase_data.groupby("Age Ranges")["Price"].mean()
age_purchasing["Total Purchase Value"] = purchase_data.groupby("Age Ranges")["Price"].sum()
age_purchasing["Unique Totals Age"] = purchase_data.groupby(["Age Ranges"])["SN"].nunique()
age_purchasing["Average Total Purchase Per Person"] = age_purchasing["Total Purchase Value"] / age_purchasing["Unique Totals Age"]
age_purchasing = age_purchasing.drop(columns=["Unique Totals Age"])

age_purchasing["Average Purchase Price"] = age_purchasing["Average Purchase Price"].map("${:.2f}".format)
age_purchasing["Total Purchase Value"] = age_purchasing["Total Purchase Value"].map("${:.2f}".format)
age_purchasing["Average Total Purchase Per Person"] = age_purchasing["Average Total Purchase Per Person"].map("${:.2f}".format)

age_purchasing

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
spending = purchase_data.groupby("SN")["Price"].sum().to_frame("Total Purchase Value")
spending_sort = spending.sort_values("Total Purchase Value", ascending = False)
top_spending = spending_sort.iloc[0:5, 0:1]
top_spending["Purchase Count"] = purchase_data.groupby("SN")["Purchase ID"].count()
top_spending["Average Purchase Price"] = top_spending["Total Purchase Value"] / top_spending["Purchase Count"]
top_spending_reordered = top_spending[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

top_spending_reordered["Average Purchase Price"]= top_spending_reordered["Average Purchase Price"].map("${:.2f}".format)
top_spending_reordered["Total Purchase Value"] = top_spending_reordered["Total Purchase Value"].map("${:.2f}".format)

top_spending_reordered

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10